pandas==1.5.2
scikit-learn==1.2.1
torch==1.12.1+cu116
numpy==1.23.5
matplotlib==3.6.2
seaborn==0.12.2
scipy==1.10.0
tensorflow==2.10.0
cycler==0.11.0
ipython==8.10.0
lightgbm==3.3.5
xgboost==1.7.4
catboost==1.1.1
shap==0.41.0
lime==0.2.0.1
pytorch-tabnet
mljar-supervised
